// VARIABLES
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Colors
$primary-color: #C61010 !default;
$secondary-color: #ebebeb !default;
$white: #fff !default;
$black: #111 !default;
$grey: #b4b4b4 !default;
$green: #00EF00 !default;
$link-color: #1eaedb !default;
$font-color: #111 !default;


// Typography
$font-family: 'Barlow Semi Condensed', sans-serif !default;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-reg: 400;
$font-weight-light: 300;


// Breakpoints
$bp-xxs: 375px !default;
$bp-xs: 575px !default;
$bp-sm: 767px !default;
$bp-md: 992px !default;
$bp-lg: 1200px !default;
$bp-xl: 1366px !default;
